{% extends "filtersearchtable.html" %}

{% block customFilters %}
        <!--- PRICE TEXT BOX INPUT GROUP ---->
        <div class="form-group left-nav">
            <label>Price</label>
               <div class="row">
                   <div class="col">
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                              <span class="input-group-text">$</span>
                            </div>
                            <input type="text" class="form-control" id="minPrice" placeholder="min">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input type="text" class="form-control" id="maxPrice" placeholder="max">
                        </div>
                    </div>
                    </div>
                    <form class="text-center">
                        <button class="btn btn-secondary" id= "priceBtn" type="button">Go</button>
                    </form>
          </div>
{% endblock %}

{% block historyButton %}
<form action = "/inventoryHistory">
    <button class="btn btn-primary mr-5" id= "clear" type="submit">History</button>
</form>
{% endblock %}

{% block table %}
{% include "inventoryTable.html" %}
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="/static/helpers/validateForm.js"></script>
<script src="/static/modalJs/search.js"></script>
<script src="/static/modalJs/filters.js"></script>
<script src="/static/modalJs/eModalValidate.js"></script>
<script src="/static/modalJs/eModal.js"></script>
<script src="/static/modalJs/aModal.js"></script>
<script src="/static/modalJs/dModal.js"></script>
<script src="/static/modalJs/aModalValidate.js"></script>
<script src="/static/inventoryJs/aModalSubmit.js"></script>
<script src="/static/inventoryJs/eModalSubmit.js"></script>
{% endblock %}

{% block modals %}
<form action="/addItem" method="post" id ="addModalForm"> 
    {% include "addModal/addModalSubmit.html" %}
</form>

<form action="/deleteItem" method="post" id="deleteModalForm">
    {% include "deleteModal/deleteModalSubmit.html" %}
</form>

<form action="/editItem" method="post" id ="editModalForm">
    {% include "editModal/editModalSubmit.html" %}
</form>

{% endblock %}
  </div>